<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8"/>
    <!--<title th:text="${formAdd}?'Add Article':'Update Article'"></title>-->
    <script src="js/checkField.js"></script>
    <script type="text/javascript" src="js/textInput.js"></script>
    <script src="jquery/jquery.min.js"></script>
    <script src="font-awesome/font-awesome.min.css"></script>
    <link rel="stylesheet" type="text/css" href="/css/style.css"/>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap4.min.css"/>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<!--start header-->
<div th:replace="fragments/header ::header"></div>
<!--End header-->

<!--Start Container-->
<div class="container" layout:fragment="content"></div>
    <!--End Container-->

<!--footer-->
<div th:replace="fragments/footer ::footer"></div>
    <!--footer-->
</body>
</html>